
@font-face {
    font-family: "Alegreya";
    src: url("/src/font/Alegreya/normal.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("/src/font/Alegreya/normal.ttf");
    font-style: italic;
}
