
@import url('/src/font/Century/fontface.css');

:root {
    --header-font-family: 'Century';
    --font-family: 'Century Gothic', sans-serif;
    --title-font-size: 28pt;
    --font-size: 12pt;
    --indent: 1cm;
}

math {
    font-family: 'Times New Roman', Times, serif;
}

:root {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: #fff;
    color: #000;
    font-weight: 400;
    line-height: 1.4;
}


h1 {
    font-family: var(--header-font-family);
    font-size: var(--title-font-size);
    margin: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

main {

    padding-bottom: var(--indent);
    padding-left: var(--indent);
    padding-right: var(--indent);

}

#preview {
    margin: 2rem auto;
    width: 320px;
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

body {
    padding: 0;
    margin: 0;
}

quote {

    display: block;
    
    background-color: #ffe0b1;
    border: #ffc368 3px solid;
    border-left: #ffc368 8px solid;

    border-radius: 20px;
    padding: 0px;
    padding-left: 15px;
    padding-right: calc(var(--indent) * 2);
    background-image: url('/src/quote.png');
    background-repeat: no-repeat;
    background-position: 100% 40px;

}

p.nl {
    margin-block: 0;
}

quote p {
    text-indent: var(--indent)
}

button {
    background-color: #fff564;
    border: #000 1px solid;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 10px;
    border-radius: 15px;
}

.hidden {
    display: none;
    position: fixed;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 0;
    margin-block: 10px;
}

header {
    background-color: #fff564;
    border-bottom: #000 2px solid;
    margin-bottom: 35px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 500;

    a {
        padding-block: 10px;
        padding-inline: 10px;
        text-decoration: none;
        display: inline-block;
        color: #000;

        img {
            border-radius: 5pt;
        }
    }

    a:hover {
        background-color: #fff;
    }

    a::after {
        color: #000;
    }
}



a {
    color: #00a;
    text-decoration: none;
}

a::after {
    color: #00a;
}

a.ne {
    color: #a00;
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.ne::after {
    color: #a00;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ref {
    position: relative;
    top: -0.45em;
    word-wrap: break-word;
    font-size: 75%;
    line-height: 1em;
    z-index: -1;
}


td, th {
    text-align: center;
    padding: 5px;
}

table, td, th {
    border: #000 solid 2px;
    border-collapse: collapse;
}


info, box {

    float: right;
    border: #000 2px solid;
    display: block;
    padding: 15px;
    margin: 10px;
    max-width: min-content;
    

    table {
        border: none;
    }

    td {
        border: none;
        text-align: center;
        padding: 5px;
        padding-block: 10px;
    }

    th {
        border: none;
        padding: 5px;
        padding-block: 10px;
    }

    p {
        margin-block: var(--font-size);
    }
}

footer {
    
    border-top: #000 1px solid;
    background-color: #fff564;
    text-align: center;
    padding: 15px;

    a {
        color: #000;
    }
    
}