
@import url('/src/font/Century/fontface.css');

:root {
    --header-font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif 4', serif;
    --font-family: sans-serif;
    --title-font-size: 188%;
    --subheader-font-size: 150%;
    --font-size: 12pt;
    --indent: 1cm;
    --background-colour: #f8f9fa;
    --text-colour: #202122;
    --borders: 1px solid #a2a9b1;
}

math {
    font-family: 'Times New Roman', Times, serif;
}

img {
    border: var(--borders);
    vertical-align: middle;
}

:root {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: #fff;
    color: var(--text-colour);
    font-weight: 400;
    line-height: 1.625;
}


h1 {
    font-size: var(--title-font-size);
}

h2 {
    font-size: var(--subheader-font-size);
}

.titles {
    display: flex;
    font-family: var(--header-font-family);
    margin-bottom: 5px;
    border-bottom: var(--borders);
    font-weight: normal;
    line-height: 1.275;
}


main {

    padding-bottom: var(--indent);
    padding-left: var(--indent);
    padding-right: var(--indent);

}

#preview {
    margin: 2rem auto;
    width: 320px;
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

body {
    padding: 0;
    margin: 0;
}

quote {

    display: block;
    
    background-color: #ffe0b1;
    border: #ffc368 3px solid;
    border-left: #ffc368 8px solid;

    border-radius: 20px;
    padding: 0px;
    padding-left: 15px;
    padding-right: calc(var(--indent) * 2);
    background-image: url('/src/quote.png');
    background-repeat: no-repeat;
    background-position: 100% 40px;

}

p.nl {
    margin-block: 0;
}

quote p {
    text-indent: var(--indent)
}

button {
    background-color: #fff564;
    border: #000 1px solid;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 10px;
    border-radius: 15px;
}

.hidden {
    display: none;
    position: fixed;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 0;
    margin-block: 10px;
}

header {
    border-bottom: var(--borders);
    padding-left: var(--indent);
    padding-right: var(--indent);
    margin-bottom: 25px;
    position: sticky;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    font-weight: 500;

    backdrop-filter: blur(8px) brightness(0.98);

    a {
        padding-block: 10px;
        padding-inline: 10px;
        text-decoration: none;
        display: inline-block;
        color: #000;
    }

    a:hover {
        background-color: #fff;
    }

    a::after {
        color: #000;
    }
}

audio {
    max-width: 190px;
}

a {
    color: #00a;
    text-decoration: none;
}

a::after {
    color: #00a;
}

a.ne {
    color: #a00;
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.ne::after {
    color: #a00;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ref {
    position: relative;
    top: -0.45em;
    word-wrap: break-word;
    font-size: 75%;
    line-height: 1em;
    z-index: -1;
}


td, th {
    text-align: left;
    padding: 5px;
}

table, td, th {
    border: #000 solid 1px;
    border-collapse: collapse;
}


box {
    background-color: var(--background-colour);
    display: block;
    padding: 0.3em;
    margin: 10px;
    width: min-content;
}


table.infobox {
    background-color: var(--background-colour);
    display: table;
    border-collapse: collapse;
    line-height: 1.2em;
    font-size: 88%;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    max-width: 100%;
    
    tr {
        border-block-start: var(--borders);
    }
    
    td, th {
        border: none;
    }

    .above {
        line-height: 1.675;
        font-size: 125%;
        font-weight: normal;
    }
}

@media (min-width: 640px) {
    table.infobox {
        width: 22em;
        tr {
            border-block-start: none;
        }
    }
}

.infobox, box {
    border: var(--borders);
}