
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('/src/font/Vesti/fontface.css');
@import url('/src/font/JournalSans/fontface.css');
@import url('/src/font/OldStand/fontface.css');
@import url('/src/font/HelveticaNeue/fontface.css');
@import url('/src/font/SFPro/fontface.css');
@import url('/src/font/Gothic/fontface.css');

:root {
    font-family: "TikTok Sans", sans-serif;
    font-size: 16pt;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    line-height: 1.6;
}

main.laws {

    ol {
        padding-left: 1em;
    }
    
    p.state {
        font-weight: 700;
    }
}

body {
    padding: 0;
    margin: 0;
}


main {
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    margin-block: 10px;
}

h1 {
    text-align: center;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
}

.hidden {
    display: none;
    position: fixed;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 0;
    margin-block: 10px;
}

header {
    border-bottom: #000 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    background-color: #fcfa82;

    a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
    }

    a:hover {
        background-color: #fff;
    }

    a::after {
        color: #000;
    }


    nav {
        background-color: #f0ee6c;
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
}

a {
    color: #00a;
    text-decoration: none;
}

a::after {
    color: #00a;
}

button {
    font-family: Jost;
    font-size: 16pt;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: black;
    a {
        color: #fff;
    }
    a::after {
        color: #fff;
    }
}

bold {
    font-weight: 600;
}

italic {
    font-style: italic;
}

ref {
    position: relative;
    top: -0.45em;
    word-wrap: break-word;
    font-size: 75%;
    line-height: 1em;
    z-index: -1;
}


td, th {
    text-align: center;
    padding: 5px;
}

table, td, th{
    border: #000 solid 2px;
    border-collapse: collapse;
}


box, info {
    border: #000 2px solid;
    display: block;
    float: right;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    padding-bottom: 15px;
    max-width: 380px;
    table {
        border: none;
    }
    td {
        border: none;
        text-align: center;
        padding: 2px;
        padding-block: 10px;
    }
    th {
        border: none;
        padding: 2px;
        padding-block: 10px;
    }
}

box {
    width: auto;
}

info {
    text-align: center;
}

footer {
    
    border-top: #000 2px solid;
    background-color: #fcfa82;
    text-align: center;

    a {
        color: #000;
    }
    
}