
@import url("/src/font/fontface.css");

html {
    font-family: "Font";
    font-size: 21pt;
    background-color: #222;
    color: #fff;
}


.hidden {
    display: none;
    position:fixed;
}

.sep {
    width: 50%;
    display: inline-block;
}

video {
    border-radius: 15px;
}

select, button, input {
    font-family: "Font";
    font-size: 24pt;
    border-radius: 10px;
    background-color: #000;
    border: 2px #fff solid;
    color: #fff;
    width: 100px;
}

input {
    width: 200px;
}

input[type="radio"] {
    width: 25px;
}

figure {
    text-align: center;
    font-style: italic;
}

bold {
    font-weight: bold;
}

italic {
    font-style: italic;
}

body {
    padding: 0;
    margin: 0;
}

#lang {
    display: block;
    padding: 20px;
}

sidebar {
    margin: 0px;
    width: 400px;
    height: 100%;
    position: fixed;
    background-color: #000;
    color: #fff;
    z-index: 2;
}

sidebar .sec {
    display: block;
    border-radius: 0;
    padding: 15px;
    padding-left: 20px;
    width: (100%);
    margin: 0;
    border: 0;
    
    text-align: left;
}

.role {
    color: #6dc9ff
}

.leader {
    color: #4cbdff
}

sidebar .sec:hover {
    background-color: #eee;
    color: #000;
}

sidebar .inner {
    padding-left: 50px;
}

.sidebarsh {
    margin-left: 400px;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: #000;
}

.brightless {
    filter: brightness(0.6);
    backdrop-filter: brightness(0.6);
}

main {
    padding: 25px;
}

#banner {
    align-content: center;
    text-align: center;
    width: (100%);
    height: 650px;
    display: block;
}

img {
    border-radius: 15px;
}

.blayer {
    position: relative;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px) brightness(0.5);
    align-content: center;
    color: #fff;
    text-shadow: 3pt 1pt #000;
}

#chsidebar {
    width: auto;
    padding-block: 5px;
    padding-inline: 10px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 2;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

table {
    border: 4px solid #fff;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

img.borderr {
    border-radius: 10px;
}

sidebar a,
footer a {
    text-decoration: none;
    margin-inline: 15px;
}

center {
    text-align: center;
}

a {
    color: #fff;
}

a::after {
    color: #fff;
}
