
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-family: rubik;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

main.constitution {
    text-indent: 1em;
    ul {
        padding-left: 1em;
    }
    p.state {
        text-indent: 0em;
        font-weight: bold;
    }
}

body {
    padding: 0;
    margin: 0;
}


main {
    padding-top: 90px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    margin-block: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.hidden {
    display: none;
    position: fixed;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 0;
    margin-block: 10px;
}

header {
    border-bottom: #000 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 15px;
    background-color: #82cbfc;

    a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 15px;
    }

    a:hover {
        background-color: #fff;
    }

    a::after {
        color: #000;
    }


    nav {
        background-color: #57aae0;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
    }
}

a {
    color: #00a;
    text-decoration: none;
}

a::after {
    color: #00a;
}

bold {
    font-weight: 600;
}

italic {
    font-style: italic;
}

ref {
    position: relative;
    top: -0.45em;
    word-wrap: break-word;
    font-size: 75%;
    line-height: 1em;
    z-index: -1;
}


td, th {
    text-align: center;
    padding: 8px;
}

table, td, th{
    border: #000 solid 2px;
    border-collapse: collapse;
}


box, info {
    border: #000 2px solid;
    display: block;
    float: right;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    padding-bottom: 15px;
    max-width: 380px;
    table {
        border: none;
    }
    td {
        border: none;
        text-align: center;
        padding: 2px;
        padding-block: 10px;
    }
    th {
        border: none;
        padding: 2px;
        padding-block: 10px;
    }
}

box {
    width: auto;
}

info {
    text-align: center;
}

footer {
    
    border-top: #000 2px solid;
    background-color: #82cbfc;
    text-align: center;

    a {
        color: #000;
    }
    
}