
@import url("/src/font/fontface.css");

html {
    font-family: "Font";
    font-size: 20pt;
    background-color: #555;
    color: #fff;
    letter-spacing: 0.4px;
}


.hidden {
    display: none;
}

.sep {
    width: 50%;
    display: inline-block;
}

select, button {
    font-family: "Font";
    font-size: 20pt;
    border-radius: 10px;
    background-color: #000;
    border: 2px #fff solid;
    color: #fff;
    width: 100px;
}

bold {
    font-weight: bold;
}

italic {
    font-style: italic;
}

body {
    padding: 0;
    margin: 0;
}

#lang {
    display: block;
    padding: 20px;
}

sidebar {
    margin: 0px;
    width: 600px;
    height: 100%;
    position: fixed;
    background-color: #000;
    color: #fff;
    overflow: visible;
    z-index: 2;
} 

sidebar .sec {
    display: block;
    border-radius: 0;
    padding: 10px;
    width: (100%);
    margin: 0;
    border: 0;
    
    text-align: left;
}

.prole {
    color: #c2dfff
}

.phelprole {
    color: #72beff
}

.pheadrole {
    color: #5e99ff
}

sidebar .sec:hover {
    background-color: #eee;
    color: #000;
}

sidebar .inner {
    margin-left: 60px;
}

.sidebarsh {
    margin-left: 600px;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: #000;
}

.brightless {
    filter: brightness(0.5);
}

main {
    padding: 25px;
}

#banner {
    align-content: center;
    text-align: center;
    width: (100%);
    height: 250px;
    display: block;
}

img {
    border-radius: 15px;
}

.blayer {
    position: relative;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px) brightness(0.5);
    align-content: center;
    color: #fff;
    text-shadow: 3pt 1pt #000;
}

#chsidebar {
    width: auto;
    padding-block: 5px;
    padding-inline: 10px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 2;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

table {
    border: 2px solid #fff;
    border-collapse: collapse;
}

td, th {
    padding: 2px;
    text-align: center;
    max-width: 150px;
}

img.borderr {
    border-radius: 10px;
}

sidebar a,
footer a {
    text-decoration: none;
    margin-inline: 15px;
}

center {
    text-align: center;
}

a {
    color: #fff;
}

a::after {
    color: #fff;
}
