
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --header-font-family: Rubik;
    --font-family: Rubik;
    --title-font-size: 188%;
    --subheader-font-size: 150%;
    --font-size: 16px;
    --indent: 10mm;
    --background-colour: #06080a;
    --side-panel-colour: #051f20;
    --lighter-background: #1f3431;
    --main-colour: #070d0d;
    --text-colour: #e6e6e6;
    --text-grey-colour: #939393;
    --borders: 1px solid var(--lighter-background);
    --link-colour: #53907a;
    --link-ncolour: #8d8853;
    --paddings: 24px 36px;
    --blurred: blur(5px) brightness(0.6);
}

:root {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-weight: 400;
    line-height: 1.75;
}

img {
    vertical-align: middle;
}

h1 {
    font-size: var(--title-font-size);
}

h2 {
    font-size: var(--subheader-font-size);
}

indent {
    padding-left: calc(var(--indent) * 2);
}

h1, h2 {
    display: flex;
    font-family: var(--header-font-family);
    margin-bottom: 5px;
    border-bottom: var(--borders);
    font-weight: normal;
    line-height: 1.275;
}

main {
    padding: var(--paddings);
    background-color: var(--main-colour);
    margin: var(--paddings);
    margin-right: 0;
    flex: 1;
    float: inline-start;
    display: inline;
    text-decoration-color: var(--text-colour);
}

abbr {
    text-decoration: dashed 3px solid;
    cursor: help;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 10px;
}

input {
    background-color: var(--background-colour);
    color: var(--text-colour);
    border: var(--borders);
    font-family: var(--font-family);
    font-size: var(--font-size);
    border-radius: 15px;
    padding-block: 2px;
    padding-inline: 8px;
}

blockquote, quote {

    display: block;
    
    background-color: var(--background-colour);
    border: var(--borders);
    border-left: var(--lighter-background) 5px solid;
    margin: 0;
    border-radius: 10px;
    font-style: italic;
    padding: 0px;
    padding-left: 15px;
    padding-right: calc(var(--indent) * 2);
    background-repeat: no-repeat;
    background-position: 100% 40px;

}

blockquote.citate {
    text-transform: uppercase;
}

header {
    overflow: hidden;
    position: sticky;
    border-bottom: var(--borders);
    background-color: var(--lighter-background);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    padding: 5px;
    top: 0;
    font-weight: 500;

    .el {
        padding-block: 5px;
        padding-inline: 15px;
        text-decoration: none;
        display: inline-block;
        color: var(--text-colour);
    }

    .el::after {
        color: var(--text-colour);
    }
}

aside {
    padding: var(--paddings);
    background-color: var(--side-panel-colour);
    margin: var(--paddings);
    margin-left: 0;
    width: 300px;
    display: inline;
    float: inline-end;
    top: 0;

    h2 {
        border-bottom-color: var(--link-colour);
    }
}

footer {
    overflow: hidden;
    background-color: var(--lighter-background);
    padding: 24px 36px;
    margin: 24px 36px;
    text-align: center;
}

audio {
    max-width: 190px;
}

a, a::after {
    color: var(--link-colour);
    text-decoration: none;
}

a.ne, a.ne::after {
    color: var(--link-ncolour);
    text-decoration: none;
    border-bottom: 1px dashed;
}

ul, ol {
    margin-left: 0;
    padding-left: auto;
    color: var(--text-colour);
}

td, th {
    text-align: left;
    padding: 7px;
}

table, td, th {
    border: var(--borders);
    border-collapse: collapse;
    background-color: var(--background-colour);
}

.box {
    margin-right: 15px;
    margin-bottom: 10px;
    float: left;
    width: min-content;
    figure {
        margin: 0;
    }
    img {
        width: 150px;
    } 
}

.toc-box {
    width: 100%;
    a, a::after {
        color: var(--text-colour);
        font-weight: bold;
    }
    ol, ul, li {
        list-style: none;
        list-style-type: none;
    }
}

img.S {
    height: 60px;
} img.M {
    height: 90px;
} img.L {
    height: 120px;
} img.XL {
    height: 160px;
}

hr {
    background-color: var(--lighter-background);
    border: none;
    height: 1px;
}

figure figcaption {
    margin-top: 10px;
    font-size: 100%;
}

.centred {
    text-align: center;
}

.infobox {

    border-collapse: collapse;
    line-height: 1.2;
    font-size: 90%;
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    width: 100%;
    
    td, th {
        border: none;
        padding: 9px;
    }

    .above {
        background-color: var(--lighter-background);
        line-height: 1.675;
        font-size: 125%;
        font-weight: normal;
        text-align: center;
    }

    .subts {
        text-align: center;
        background-color: var(--lighter-background);
    }

}

figure figcaption {
    margin-top: 10px;
    font-size: 100%;
    font-style: italic;
}

@media (min-width: 1050px) {
    .infobox {
        width: 340px;
    }
    .toc-box {
        width: 240px;
    }
}

.infobox {
    border: var(--borders);
    padding: 1em;
}