
@import url('/src/font/Vesti/fontface.css');
@import url('/src/font/JournalSans/fontface.css');
@import url('/src/font/YandexSans/stylesheet.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    font-family: "Roboto Flex", sans-serif;
    font-size: 16pt;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    line-height: 1.3;
    text-wrap: pretty;
}

main.laws {

    ol {
        padding-left: 1em;
    }
    
    p.state {
        font-weight: 700;
    }
}

body {
    padding: 0;
    margin: 0;
}

quote {
    background-color: #d2e1ff;
    display: block;
    border: #8993ff 3px solid;
    border-left: #8993ff 10px solid;
    border-radius: 20px;
    padding: 20px;
    padding-right: 82px;
    background-image: url('/src/quote.png');
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

main {
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, p.state, quote {
    font-family: 'Roboto Slab', serif;
}

.hidden {
    display: none;
    position: fixed;
}

figure {
    display: inline-block;
    font-style: normal;
    margin: 0;
    margin-block: 10px;
}

header {
    border-bottom: #000 2px solid;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: #fcfa82;

    a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding-block: 15px;
        padding-inline: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    a:hover {
        background-color: #fff;
    }

    a::after {
        color: #000;
    }
}

a {
    color: #00a;
    text-decoration: none;
}

a::after {
    color: #00a;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ref {
    position: relative;
    top: -0.45em;
    word-wrap: break-word;
    font-size: 75%;
    line-height: 1em;
    z-index: -1;
}


td, th {
    text-align: center;
    padding: 5px;
    padding-inline: 10px;
}

table, td, th {
    border: #000 solid 2px;
    border-collapse: collapse;
}


info {

    border: #000 2px solid;
    display: inline-block;
    padding: 15px;
    max-width: min-content;

    table {
        border: none;
    }
    td {
        border: none;
        text-align: center;
        padding: 2px;
        padding-block: 10px;
    }
    th {
        border: none;
        padding: 2px;
        padding-block: 10px;
    }
}

footer {
    
    border-top: #000 1px solid;
    background-color: #fcfa82;
    text-align: center;
    padding: 15px;

    a {
        color: #000;
    }
    
}