
@font-face {
    font-family: "Vesti";
    src: url("/src/font/Vesti/vestisans-regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vesti";
    src: url("/src/font/Vesti/vestisans-italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Vesti";
    src: url("/src/font/Vesti/vestisans-medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Vesti";
    src: url("/src/font/Vesti/vestisans-bold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Vesti";
    src: url("/src/font/Vesti/vestisans-light.ttf");
    font-weight: 100;
    font-style: normal;
}