
@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/reg.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/i.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/m.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/mi.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/b.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/bi.otf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/l.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/src/font/HelveticaNeue/li.otf");
    font-weight: 300;
    font-style: italic;
}