
@font-face {
    src: url('/henlene_font/Vertograd-Regular.otf');
    font-family: 'Jazyca_cap';
    text-transform: uppercase;
}

@font-face {
    src: url('/henlene_font/Fedorovsk-Regular.otf');
    font-family: 'Jazyca';
    text-transform: lowercase;
}